* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

.navbar {
  background-color: $bg_color;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 17px;
  margin: 5px 7px;
  border-radius: 7px;
}

.logo {
  flex-grow: 1;

  img {
    width: 60px;
    height: 60px;
  }
}

.menu {
  ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      padding: 0 15px;
      text-transform: capitalize;
      a {
        color: #222;
        text-decoration: none;
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .three-menu div {
    height: 5px;
    width: 30px;
    background-color: #222;
    margin: 5px 0;
    border-radius: 3px;
  }

  .menu {
    display: none;
  }
}
